# Note: Add any additional requirements to setup.py's install_requires field
--editable .
connexion == 2.13.0
flask_cors
flask_testing
marshmallow
pymodm
python_dateutil == 2.6.0
setuptools >= 21.0.0
wheel
